<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.me.liranfunaro.motion"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="il.me.liranfunaro.motion.SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
        </activity>

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver
            android:name="uk.me.malcolmlandon.motion.MotionWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="uk.me.malcolmlandon.motion.MotionWidget.ACTION_WIDGET_STATUS" />
                <action android:name="uk.me.malcolmlandon.motion.MotionWidget.ACTION_WIDGET_START" />
                <action android:name="uk.me.malcolmlandon.motion.MotionWidget.ACTION_WIDGET_PAUSE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/motion_widget_provider" />
        </receiver>

        <activity android:name="uk.me.malcolmlandon.motion.MotionWidgetConfigure" >
            <intent-filter>
                <action android:name="uk.me.malcolmlandon.motion.MotionWidget.ACTION_WIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.me.malcolmlandon.motion.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="il.me.liranfunaro.motion.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="il.me.liranfunaro.motion.HostPreferencesActivity"
            android:label="@string/title_activity_add_host"
            android:parentActivityName="il.me.liranfunaro.motion.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.me.liranfunaro.motion.MainActivity" />
        </activity>
    </application>

</manifest>